/* FinansalOkuryazarliginTemelleri.css */

p {
    border: 3px solid lightgray;
    max-height: 500px;
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

/* Monitor */
@media (max-height: 1500px) {
    p {
        max-height: 850px;
    }
}
@media (max-height: 1200px) {
    p {
        max-height: 650px;
    }
}

/* Laptop-Tablet */
@media (max-height: 900px) {
    p {
        max-height: 520px;
    }
}

/* Tel */
@media (max-height: 700px) {
    p {
        max-height: 450px;
    }
}

/* Min */
@media (max-height: 600px) {
    p {
        max-height: 250px;
    }
}


dfn.fon {
    position: relative;
    font-style: italic;
    background-color: rgba(226, 129, 9, 0.3);
    padding: 2px;
    display: inline-block;
    border-radius: 4px;
}

dfn.fon:hover {
    background-color: rgba(226, 129, 9, 0.5);
}

dfn.fon:hover::after {
    content: 'Fonlar çok havalı şeylerdir.';
    position: absolute;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 1px solid rgb(214, 135, 7);
    border-radius: 8px;
    padding: 8px;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -8px);
}

