.Menu {
    width: 100%;
    max-width: 95%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    border-color: grey;
}

.Menu > div {
    width: 100%;
    max-width: 95%; 
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box; 
}

@media (max-width: 768px) {
    .Menu {
        max-width: 100%;
        padding: 10px; 
    }
}